 <section class="team" id="team">
    <div class="container">
      <div class="row">
        <h2><%= "#{@doctor_category.name}'s" %></h2><br>
        <div class="team-heading text-center">
        </div>
        <% @doctors.all.each_with_index do |doctor, index| %>
          <% if (index%2 == 0) %>
            <div class="col-md-3 single-member col-sm-4">
              <div class="person">
                <% if doctor.avatar.present? %>
                  <%= image_tag(doctor.avatar.url(:detail), size: "293x390", class:"img-responsive") %>
                <% else %>
                  <%= image_tag("missing_doctor_avatar.png", class:"img-responsive") %>
                <% end %>
                <%#= image_tag 'member1.jpg', class:"img-responsive" %>
              </div>
              <div class="person-detail">
                <div class="arrow-bottom"></div>
                <h3><%= doctor.name %></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
              </div>
            </div>
          <% else %>
            <div class="col-md-3 single-member col-sm-4">
              <div class="person-detail">
                <div class="arrow-top"></div>
                <h3><%= doctor.name %></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
              </div>
              <div class="person">
                <%#= image_tag 'member2.jpg', class:"img-responsive" %>
                <% if doctor.avatar.present? %>
                  <%= image_tag(doctor.avatar.url(:detail), size: "293x390", class:"img-responsive") %>
                <% else %>
                  <%= image_tag("missing_doctor_avatar.png", class:"img-responsive") %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>


<div class="container" style="padding-top:70px;">
  <h2>Listing Doctors for <%= @doctor_category.name%></h2><br>
  <div class="row">
    <div class="col-md-7">
      <form class="form-inline" role="form">
        <%= form_tag("/doctor_categories/#{params[:id]}", method: "get") do %>
          <div class="form-group">
            <div class="field" >
              <%= select_tag "state", options_from_collection_for_select(CS.states(:in),:first, :last) , :prompt =>'--Select State--', class: "form-control"%>
            </div>
          </div>

          <div class="form-group">
            <div class="field" id='home-state-cities' >
              <%= select_tag "city", @cities, :prompt => '--Select City--', class: "form-control"%>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= submit_tag("Search", class: "btn btn-info") %>
            </div>
          </div>
        <% end %> 
      </form>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <div class="dropdown">
        <button class="btn btn-info" type="button" data-toggle="dropdown">Doctor Category
        <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <% DoctorCategory.all.each do |dc|%>
              <li><%= link_to dc.name, doctor_category_path(dc.id) %></li>
           <% end %>
          </ul>
      </div>
    </div>
  </div><br>
</div>

<div class="container">
  <div class="row">
    <% @doctors.all.each do |doctor| %>
	    <div class="col-md-3" style="margin-bottom:2%;">
        <div class="list-group-item" style="width:95%;background:white;">
          <div class="row">
            <div class="col-md-4">
              <% if doctor.avatar.present? %>
                <%= image_tag(doctor.avatar.url(:small), size: "80x80") %>
              <% else %>
                <%= image_tag("missing_doctor_avatar.png", size: "80x80") %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div style="background:white;"><span class="badge"></span> 
              <b style="color:#286090"><%= link_to doctor.name.capitalize, doctor %></b><br />
              <%= "#{doctor.experience} years of experience"%><br />
              <%= "Working at #{doctor.hospital_name}" %><br />
              </div>
            </div>
          </div>
        </div>
	    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){ 

    $("#state").click(function(){
        var state1 = $('#state').val();
        $.ajax({
          method: "GET",
          url: "/cities",
          data: { state:state1 }
        })
        .done(function( cities ) {
          var cityElm=$("#home-state-cities")
          var optValues=""
          cityElm.css("display","block")

          for (i = 0; i < cities.length; i++) { 
            optValues += "<option>" + cities[i] + "</option>";
          }
          cityElm.html("<select name=city class=form-control>" + optValues+ "</select>")  
        });
      } 
    );
  });
    
</script>