
<% if user_signed_in? %>
	<p><%#= link_to 'Users:', users_path %> <%#= User.count %> </p>
<% elsif doctor_signed_in? %>
	<h3><%#= "Welcome #{current_doctor.name.capitalize}" %></h3>
<% elsif patient_signed_in? %>
	<h3><%#= "Welcome #{current_patient.name.capitalize}" %></h3>
<% end %>
<% if (!doctor_signed_in?) %>
	<div class="container">
  	<h2>Doctor Categories</h2>
    <br>
  	<% DoctorCategory.all.each do |doctor_category| %>
      <div class="col-sm-3 col-md-2" style="margin-bottom:4%">
        <div>
          <% if doctor_category.avatar.present? %>
            <%= image_tag(doctor_category.avatar.url(:medium),size: "130x100") %>
          <% else %>
            <%= image_tag("missing_doctor_category_avatar.png", size: "130x100") %>
          <% end %>
        </div>
  		  <div>
          <b><%= link_to doctor_category.name, doctor_category %></b>
          <span class="badge"><%= doctor_category.doctors.active.count %></span>
    		</div> 
      </div>
  	<% end %>   
  </div>
<% else %>

<%= render partial: "/doctors/details"%>

<%end%>