<div style="color:black;" id="doctor-time-slots">
  <%if @message %>
    <p class="alert alert-warning"><%=@message%></p>
  <% end %>
  <button class="accordion">Available Timings(<%=@time_slots.count%>)</button>
  <div class="panel" id="scroll">
  <table class="table table-striped">
    <thead>
      <th>From</th>
      <th>To</th>
      <th>Duration</th>
      <th>Week Days</th>
      <% if doctor_signed_in? %>
        <th>Delete</th>
      <% end %>
    </thead>
    <%@time_slots.each do |ts|%>
      <tr>
        <td><%=ts.from%></td>
        <td><%=ts.to%></td>
        <td><%=ts.duration%></td>
        <td><%=ts.retrive_days%></td>
        <% if doctor_signed_in? %>
          <td><%=image_tag'delete', {size: "16x10", :id => 'del-time-slot', 
                 :slot_id => "#{ts.id}", :class => 'delete'}%>
          </td>
        <% end %>
      </tr>
    <%end%>
  </table>
  </div>
</div>

<script type="text/javascript">
  $('.delete').click(function(){
    var tsId = $(this).attr('slot_id')
    $.ajax({
      method: "delete",
      url: "/time_slots/" + tsId
    })
      .done(function( data ) {
        $("#doctor-time-slots").html(data)
      });
  })
  var acc = $(".accordion");
  var i;
  for (i = 0; i < acc.length; i++){
      acc[i].onclick = function(){
      this.classList.toggle("active");
      this.nextElementSibling.classList.toggle("show");
    }
}
</script>
