
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <h1><%= link_to @doctor.name.capitalize %></h1>
      </div>
      <div class="col-sm-4 col-sm-offset-4">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Manage Appointment</button>
      </div>
    </div>
    <% if @doctor.avatar.present? %>
      <%= image_tag @doctor.avatar.url(:small) %>
    <% else %>
      <%= image_tag("missing_doctor_avatar.png",size: "100x100") %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>About</h3>
      <p><%= "#{@doctor.experience} years of experience" %></p>
      <p><%= "Working at #{@doctor.hospital_name}" %></p>
      <p><%= "#{@doctor.about_me}" %></p>
    </div>
    <div class="col-sm-4">
      <h3>Clinic</h3>
      <p><%= "#{@doctor.hospital_name.capitalize}" %></p>
      <p><%= "#{@doctor.hospital_address}" %></p>
      <p><%= "#{@doctor.hospital_landmark}" %></p>
      <p><%= "#{@doctor.hospital_phone}" %></p>
    </div>
  </div>
</div>
<%=render :partial => "doctors/manage_appointment"%>















