<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3" id="doctor-image">
            <% if @doctor.avatar.present? %>
              <%= image_tag(@doctor.avatar.url(:small), size: "100x100") %>
            <% else %>
              <%= image_tag("missing_doctor_avatar.png",size: "100x100") %>
            <% end %>
            <div id="image-loader" style="margin-top: -100%;display:none;opacity:0.5;">
              <%=image_tag('ajax-loader.gif', size: "100x100") %>
            </div>
          </div>
           <div class="col-sm-9"> 
            <p><%= @doctor.name.capitalize %></p>
            <small><%= "#{@doctor.doctor_category.name}" if @doctor.doctor_category %></small>
            <br>
            <small><%= "#{@doctor.experience} years of experience" %></small>
            <small><%= "Working at #{@doctor.hospital_name}" %></small>
            <small><%= "#{@doctor.about_me}" %></small>
          </div>

        </div>
        <% if doctor_signed_in? && current_doctor == @doctor %>
          <%= form_for(@doctor,  html: { multipart: true, id:'form-avatar' }) do |f| %>
            <%= f.file_field :avatar, id: "doctor-avatar", style: "display:none" %> 
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%=render :partial => "doctors/manage_appointment"%>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  var checkDoc = "<%=doctor_signed_in?%>" 
  if(checkDoc != false){
    $("#doctor-image").click(function(){
      $("#doctor-avatar").click();
    })

    $("#doctor-avatar").change(function(){
      $("#form-avatar").submit(); 
      $("#image-loader").css("display", "block");
    });
  }

</script>
