<%= form_for @appointment do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class:'datepickerfield' %>
  </div>

  <div class="dropdown" id="appointment-time">
  	<%= f.label :time %><br>
	<%= f.time_select :time,
	  :combined => true,
	  :default => Time.now.change(:hour => 10, :min => 30),
	  :minute_interval => 15,
	  :time_separator => "",
	  :start_hour => 10,
	  :start_minute => 30,
	  :end_hour => 14,
	  :end_minute => 30
	%>
  </div><br>

  <%= hidden_field_tag 'doctor_id', params[:doctor_id] %>

  <div class="actions">
    <%= f.submit "Create", :class => 'button right' %>
  </div>

<%end%>


<script>
  $(document).ready(function () {
    $('.datepickerfield').datepicker({format: "dd/mm/yyyy"}).on("change", function(e) {
    	appointment_date = ($('#appointment_date').val());
    	$(this).datepicker('hide');
    	$.ajax({
          method: "get",
          url: "appointments/time_selector",
          data: {date: appointment_date}     
      	})
        .done(function( data ) {
          $("#appointment_date").html(data)
        });
    });
  });
</script>