<%= form_for @appointment do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class:'datepickerfield' %>
  </div><br><br>

  <div id="loading-image" style="display:none;"><%=image_tag 'ajax-loader.gif'%></div>

  <div id="appointment-time"></div>

  <%= hidden_field_tag 'doctor_id', params[:doctor_id] %>

  <div class="actions">
    <%= f.submit "Create", id: "submit_button", :class => 'button right' %>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, :class => 'button left' %>
  </div>

<%end%>

<script>
  $(document).ready(function () {
    $('.datepickerfield').datepicker({format: "dd/mm/yyyy", autoclose : true}).on("changeDate", function(e) {
    	appointment_date = ($('#appointment_date').val());
        $('#loading-image').show();
    	$.ajax({
          method: "get",
          url: "appointments/time_selector",
          data: { date: appointment_date,
                  doctor_id: "<%=params[:doctor_id]%>"
                }     
      	})
        .done(function( data ) {
          $('#loading-image').hide();
          if (data.includes("No Appointment")){
          	$('#submit_button').prop('disabled', true);
          }
          else {
          	$('#submit_button').prop('disabled', false);
      	  }
      	  $("#appointment-time").html(data)
          var booked_slots = $.makeArray( $('#booked_slots').val() );
          $.each(booked_slots, function (index, value) {
  			$("select option[value='"+ value + "']").attr('disabled', true );
  		  });
          //$("select option[value='12:00:00']").attr('disabled', true );
          //$("select option[value='13:00:00']").attr('disabled', true );
        });
    });
  });
</script>