<%= form_for @appointment do |f| %>
  
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class:'datepicker' %>
  </div>

  <div class="field">
  	<%= f.label :time %><br>
	<%= f.time_select :time,
	  :combined => true,
	  :default => Time.now.change(:hour => 11, :min => 30),
	  :minute_interval => 15,
	  :time_separator => "",
	  :start_hour => 10,
	  :start_minute => 30,
	  :end_hour => 14,
	  :end_minute => 30
	%>
  </div><br>

  <div class="actions">
    <%= f.submit "Create", :class => 'button right' %>
  </div>

<%end%>


<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>